*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  min-height: 100%;
}
body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1c92d2; 
  background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  
  background: linear-gradient(to top, #f2fcfe, #1c92d2);
}



.HeroContainer{
  /* width: 100%; */
  height: 70vh;
  max-width: 100%;
  /* background-image: url(../public/assets/Hero.jpeg); */
  background-image: url(../public/assets/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.DivHero{
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  font-style: unset;
  flex-direction: column;
  align-items: center;
}

.responsiveCards{
  width: 40%;
  background: #1c92d2; 
  background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  
  background: linear-gradient(to bottom, #f2fcfe, #1c92d2);
}

 /* // Footer // */
  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;

  }

  .footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .title{
    font-size: 4rem;
    color: rgb(0, 0, 0);
  }

  .subtitle{
    color: white;
  }

  .navFooter{
    color: #6c757d!important;
  }

  .navFooter:hover{
    color: #fff!important;
  }

  /* // NAVBAR // */
  .logoFooter{
    width: 30%;
  }

  .iconUser{
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
  color: black!important;
}

  .logoNav{
    width: 5rem;
  }

  .navTitles{
    font-weight: bolder!important;
    color: black!important;
    padding: 0 .5rem;
    margin-top: 1rem;
    font-size: 20px;
  }

  .navTitles:hover{
    color: #fff!important;
    
  }

  .dropdown-toggle::after {
    display: none !important; 
  }

  .uilFooter{
    height: 2rem;
    width: 2rem;
  }

  /* // carousel //  */

  
  .carouselTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black!important;
  }

  .swiper {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
  }


  /* // button // */

.buttonHeader{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  font-weight: bold;
}
.buttonHeader span{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  
}
.buttonHeader span:before,
.buttonHeader span:after{
  position: absolute;
  content: "Let's Start";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.buttonHeader span:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.buttonHeader span:after{
  color: #000000;
  transform: rotateX(90deg) translateZ(25px);
}
.buttonHeader span:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* // cards cities // */

.card-description{
  height: 13rem;
}
.container-fluid {
  max-width: 100%;
}

.cardcities {
  background: #fff;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  /* transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12); */
  border: 0;
  border-radius: 1rem
}

.cardcities-img,
.cardcities-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px)
}

.cardcities h6 {
  overflow: hidden;
  /* height: 56px; */
  font-size: 1rem
}

.cardcities-img-top {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  padding: 30px
}

/* .cardcities:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
} */

@media (max-width:768px){
  .fs-responsive{
    font-size: 16px!important;
  }
}

@media (max-width:1024px){
  .fs-responsive{
    font-size: 16px!important;
  }
}


@media (max-width: 768px) {
  .cardcities-img-top {
      max-height: 250px
  }

}

.btn-details {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px
}

.box .btn-details {
  font-size: 1.5rem
}

@media (max-width: 1025px) {
  .btn-details {
      padding: 5px 40px 5px 40px
  }
}

@media (max-width: 250px) {
  .btn-details {
      padding: 5px 30px 5px 30px
  }
}

.btn-details-warning {
  background: none #307fffd7;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 13px rgba(59, 154, 255, 0.679);
  border-radius: 100px
}

.btn-details-warning:hover {
  background: none #006eff;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgb(59, 154, 255)
}






/* // error 404 // */

.error404{
  display: flex;
  justify-content: center;

}

.underconstruction{
  width: 50%;
  margin: 0 auto;
}

.containerConstruction{
  height: 66.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* // Call To Action // */

.courses-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.course {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
display: flex;
max-width: 100%;
margin: 20px;
overflow: hidden;
width: 80rem;


}

.course-info {
padding: 30px;
width: 100%;
}

 /* // BUTTON SEARCH // */


.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #2dcad8;
  padding-right: 40px;
  color:#fff;
  cursor: pointer;
  
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  
}
.btn-search{
  
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



/* // CARD CITY NOT FOUND // */

.notFoundContainer{
  height: 70vh;
}

.searchNotFound{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid black;
  margin-top: 2rem;
  height: 30vh;
  width: 100%;

}

.Searchh3{
  text-align: center;
  font-size: 3rem;
}

.Searchh4{
  text-align: center;
  font-size: 2rem;
}

/* // DETAILS // */

.HeroDetails{
  height: 70vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cityDetails{
  background-color: #0dcaf0c5;
  border-radius: 10px;
  padding: 1rem;
  font-size: 10vh;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px black, 5px 0 black, 0 -1px black;
}

.btnCityDetails{
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: #006eff;
  margin-bottom: 1rem;
}


/* // ITINERARIES CARDS // */





.itinerariesCard{
  width:70%;
  background-color: #212529;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
}

.sizeImage{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  
}

.userImageContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  align-items: center;
}

.userName{
  margin-right: 1rem;
}

.titleCardsItineraries{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 1rem;
}



.itineraryTitle{
  margin-top: 0.5rem;
  color: white;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}

.f-white{
  color: white;
  margin-left: 1rem;
}

.hashtags{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.sizeData{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.sizeDataDos{
  font-size: 1.3rem;
}

.containerData{
  margin-left: 2rem;
  margin-right: 2rem;
}

.spaceLikes{
  letter-spacing: 0.5rem;
}


.itinerariesCardContainer{
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}



/* // Itineraries not found // */

.itinerariesNotFound{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid black;
  margin-top: 2rem;
  height: 30vh;
  width: 50%;

}

.itinerariesNotFoundContainer{
  height: 70vh;
}









/* // responsive // */
@media (max-width:425px){
  .responsiveCards{width: 100%;}
  .itinerariesCard{width: 100%;}
  .itineraryTitle{font-size: 1rem; }
  .hashtags{flex-direction: column;}
  .sizeDataDos{font-size: 1rem;}
  .sizeData{font-size:1.2rem;}
  .cityDetails{font-size: 4rem;}
  .Searchh3{font-size: 2.5rem;}
  .Searchh4{font-size: 1.5rem;}
  .my-facebook-button-class{
    width: 90%!important;
    font-size: 1rem!important;
  }
  
}



@media (max-width:500px){
  .responsiveCards{width: 100%;}
  .itinerariesCard{width: 90%;}
  .hashtags{flex-direction: column;}
  


}

@media (max-width:700px){
  .responsiveCards{width: 100%;}
  .itinerariesCard{width: 90%;}
  .hashtags{flex-direction: column;}
  


}

@media (max-width:800px){
  .responsiveCards{width: 100%;}
  .itinerariesCard{width: 80%;}
  .hashtags{flex-direction: column;}
  

}




@media (min-width:680px){
  .course{
    flex-direction: column;
  }

  .course-preview {
    width: 100%;
    height: 10rem;
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    max-width: 50rem;
      background-image: url(../public/assets/xxxl.png);
      background-position: 55%;
      background-size: cover;
    }
    
    


}

@media (max-width:840px){
  .course{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .course-preview {
    width: 100%;
    height: 10rem;
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
      background-image: url(../public/assets/xxxl.png);
      background-position: 55%;
      background-size: cover;
    }
  .buttonHeaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    }
    .countrycontainer{
      margin: 0rem!important;
    }
    .bigContainerSignUp{
      width: 90%!important;
    }
    .logincontainer{
      width: 90%!important;
    }
}

@media (min-width:840px){
  .course{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .course-preview {
    width: 100%;
    height: 20rem;
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
      background-image: url(../public/assets/xxxl.png);
      background-position: 55%;
      background-size: cover;
    }
    .country{
      width: 100%;
    }
    
}

.mediumContainerSignUp{
  display: flex;
flex-direction: column;
align-items: center!important;

}

.imgUser{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.h5signup{
  margin-top: 1rem;
}

.signuplink{
  color: blue;
  text-decoration: underline;
}

.inputsignup{
  border-radius: 10px;
  padding: 0.2rem;
}

.bigContainerSignUp{
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  margin-top: 1rem;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #247cac, -13px -13px 20px #247cac;
    width: 40%;
}




.buttonsocial :nth-child(1){
	margin-right: 0px !important;
	width: 45px !important;
}

.my-facebook-button-class{
  
	background-color: rgb(52, 52, 207);
	color: #ffffff;
  font-size: 1.3em;
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 300px;
	
}

.labelLogin{
  margin-right: 1rem;
  font-size: 150%;
}

.labelSignUp{
  margin-right: 0.5rem;
  font-size: 150%;
}

.country{
  width: 85%;
  border-radius: 10px;
  padding: 0.2rem;
}

.countrycontainer{
  margin-left: 1rem; 
}


.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.logincontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-left: 10px;
  margin-top: 1rem;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #247cac, -13px -13px 20px #247cac;
    width: 40%;
}


.heart{
  background-color: #212529!important;
  cursor: pointer;
  margin-right: 0.5rem;
}

.likeDislike{
  display: flex;
}

.asdasdsad{
  text-align: center;
  color: white;
  font-weight: bold;
}



.activitiesContainer3{
  display: flex;
  flex-direction: row;
}

.activityImages{
  width: 24vw;
  border-radius: 10px;
}

.returnactivityContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.1rem;
}

.pWhite{
  color: white;
}

.commentsContainer{
  display: flex;
  background-color: grey;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 1rem;
}

.userphoto{
  width: 5rem;
  border-radius: 50px;
  margin-top: 1rem;
}

.firstNameLastName{
  display: flex;
}

.pFirstNameLastName{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.textareacontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}



.divMakeComments{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.divMakeCommentsSon{
  display: flex;
}

.btnComment{
  margin-left: 0.5rem;
}

.signupComment{
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}